---
import Layout from '../layouts/Layout.astro';
import sqlite3 from 'sqlite3';
import { getAllMagazines, getAllIssues } from '../lib/functions';

const dbPath = import.meta.env.COMICDB_PATH;
const db = new sqlite3.Database(dbPath);

const magazines = await getAllMagazines(db);
const issues = await getAllIssues(db);
const years = [2022, 2023];

db.close();

---

<Layout title="Comic Magazine Data">
	<main>
		<h1>Comic Magazine Data</h1>
		<div>
			{magazines.filter(m => m.id != 'BSMG').map(magazine => (
				<div>
					<h2>{magazine.title}</h2>
					{years.map(y => (
						<div>
							<h3><a href={`./${magazine.id}/${y}`}>{y}年度</a></h3>
							<div>
							{issues
								.filter(x => x.magazine_id == magazine.id && x.id.substring(4,8) == String(y))
								.map(x => (<a href={`./issue/${x.id}`}>{x.id.substring(8)}</a>))}
							</div>
						</div>
					))}
					<ul>
					</ul>
				</div>
			))}
		</div>
		<div>
			<a href="./title/">作品一覧</a> / <a href="./author/">作者一覧</a>
		</div>
	</main>
</Layout>

<style>

</style>
